footer {
	text-align: center;
	margin: 2rem 0 0;

	.socials {
		@include flexAllRow;
		list-style: none;
		gap: 1rem;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $primary-light;
		}
	}
}
